
<div class="field">
  <label class="label">{{Name}}</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">{{Date}}</label>
  <div class="control">
    <input class="input" type="date" placeholder="e.g. 'Month Day, Year'">
  </div>
</div>

<div class="field">
  <label class="label">{{Address}}</label>
  <div class="control">
    <input class="input" type="address" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>

<div class="field">
  <label class="label">{{Email}}</label>
  <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>
