  <section class="hero is-fullheight">
  <div class="hero-body" style="background: url('https://images.unsplash.com/photo-1536892633372-58d43d279dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); background-repeat:no-repeat; background-size: cover">
    <div class="container">
      <h1 class="title" style="font-size: 120px;">
        ShowLink
      </h1>
      <h2 class="subtitle" style="color: white; font-size:30px">
        Find Your Next Fashion Show Here!
      </h2>
      <a class="button is-dark">Model</a>
      <a class="button is-dark">Agency</a>
    </div>
  </div>
</section>