<div class="tile is-parent is-6">
    <article class="tile is-child box">
      <p class="title">Start promoting your fashion shows now!</p>
      <p class="subtitle">Create your agency profile below.</p>
      <div class="content">
        
<form action="/agencies" method="POST">
    <div class="field">
  <label class="label">{{name}}</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith" name="name">
  </div>
</div>

<div class="field">
  <label class="label">{{phone}}</label>
  <div class="control">
    <input class="input" type="number" placeholder="e.g. 000-000-0000" name="number">
  </div>
</div>

<div class="field">
  <label class="label">{{email}}</label>
  <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name="email">
  </div>
</div>
<button type="submit">Done</button>
</form>
  </div>
    </article>
  </div>